html
{
	background:lightgray;
	color:maroon;
	font-family:helvetica;
	font-size:18pt;
}

body
{
	background:white;
	width:1040px;
	margin:0 auto;
	padding:80px;
	text-align:center;
}

a
{
	color:maroon;
}

#toplinks 
{
	list-style:none;
	text-align:center;
	padding:0;
	margin:0;
}

#toplinks li
{
	display:inline-block;
	margin:0px 60px;
	border-bottom:1px solid black;
}

#buybutton
{
	margin:0 auto;
	display:inline-block;
}